@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #242325;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* global */

/* color styles */
.green-colour {
  color: green;
}

.red-colour {
  color: red;
}

.inner-link {
  list-style: none;
}

/* end of global */

/* banner */
.banner {
  color: #fff;
  min-height: calc(100vh - 86px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(../img/banner_img_sized.jpg);
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/banner_img_sized.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.info-banner {
  color: #fff;
  min-height: calc(50vh - 86px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(../img/info.jpg);
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/info.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner-center {
  /* height: calc(100vh - 86px); */
  height: calc(50vh - 86px);
}

#timers-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))),
    url(../img/clock_bk.jpg);
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url(../img/clock_bk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}

.custom-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pcs-systems {
  background: transparent;
  font-size: 25.6px;
  font-size: 1.6rem;
  margin-left: 64px;
  margin-left: 4rem;
  margin-top: 64px;
  margin-top: 4rem;
}

.pcs-systems-info {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.pcs-systems-item {
  list-style: none;
}

.pcs-systems-item-inner {
  list-style: none;
  margin-left: 11.2px;
  margin-left: .7rem;
}

.pcs-systems-item-inner-link {
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.pcs-systems-item-inner-link:hover {
  text-decoration: none;
  color: #a2a3a5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.coming-soon {
  color: yellow;
}

/* end of banner */

/* info-card */
.info-card-link {
  color: #ea2a40;
  padding: 0 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.info-card-link:hover {
  color: #fff;
  background: #ea2a40;
  text-decoration: none;
}

/* end of info-card */

/* form controls */
.epcs {
  min-height: 100vh;
}

.info-icon {
  color: #fff;
  font-weight: 700;
}

.badge-info {
  width: 100%;
}

input {
  text-align: center;
}

.chicken-pc {
  margin-top: 0 !important;
}

.modal-dialog {
  min-width: 800px !important;
}

.div-img {
  overflow: hidden;
}

.img-report {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.img-report:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.item-other {
  font-weight: 700 !important;
  text-align: left !important;
  margin-left: 0 !important;
}

/* end of form controls */

/* navbar */
.navbar {
  background: #242325 !important;
}

.phone-icon {
  color: #61e786;
  border: 1.6px solid #61e786;
  border: 0.1rem solid #61e786;
  padding: 8px;
  padding: 0.5rem;
  border-radius: 50%;
}

/* end of navbar */

/* info sections */
hr.separate-section {
  height: 10px;
  border: 0;
  -webkit-box-shadow: 0 10px 10px -10px #8c8b8b inset;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/* end of info sections */

/* timers section */
.gray_bgr {
  background-color: #ececec;
}


.right {
  float: right;
  padding-right: 3px;
}

.left {
  float: left;
}

.timer__serviceTime,
.timer__totalTime {
  background-color: #28B9B5;
  border: 1px solid #28B9B5;
  color:white;
  border-radius: 3px;
  padding-right: 3px;
}

.transactions {
  background-color: rgb(150, 150, 150);
  border:rgb(150, 150, 150);
}

.timer__serviceTime--text,
.timer__totalTime--text {
  /* float: left; */
  font-size: 13px;
  margin-top: 2px;
  padding-left: 10px;
  text-transform: uppercase;
}

.timer__serviceTime--value,
.timer__totalTime--value {
  letter-spacing: 1px;
}

.info-container:nth-child(even) {
  background-color: #ffe6e6;
}

.timeChecked {
  background-color: rgb(235, 232, 232);
  font-weight: bolder;
}

.info-container {
  border-bottom: rgba(231, 60, 60, 0.502) 1px solid;
  margin-bottom: 2px !important;
  height: auto;
}

.times-container {
  height: 2.25rem;
}

p.form-control {
  margin-bottom: 0;
}

.col-2,
.col-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.text-container {
  padding-bottom: 2px !important;
}

.info-text {
  font-size: 0.7rem;
}

.time-edits {
  background-color: #eeeded;
  border-radius: 5px;
}

.editBox {
  cursor: pointer;
  color: black;
  transition: linear 0.2s;
}

.editBox:hover {
  color: #444;
  transform: scale(1.1);
}

.stopwatch {
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: black;
  font-size: 1.4rem;
  border: 1px solid rgb(31, 31, 31);
  border-radius: 5px;
  background: transparent;
  transition: linear 0.2s;
}

.stopwatch-ph {
  padding: 0.5rem;
}

.stopwatch:hover {
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

.stopwatch:focus {
  outline: none;
}

.stopwatch-icon {
 margin-left: 3rem;
}

.service-controls {
  /* display: none; */
  display: block;
}

.timer {
  font-size: 0.6rem;
  padding: 4px 2px !important;
}

.icon-disabled {
  pointer-events: none;
  opacity: 0.5;
  color: #CCC;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #e73c3c80, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #e73c3c80, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #e73c3c80, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #e73c3c80, #f0f0f0);
}



/* end of timers section */


/* Colour of service times (green if below target or red if above target) */
.timeOverTarget {
  background-color: #ea2a40;
  color: #f7f7f7;
  border-color: #ea2a40;
}

.timeOnTarget {
  background-color: #28B9B5;
  color: #f7f7f7;
  border-color:  #28B9B5;
}

.timeBetweenTarget {
  background-color: rgb(224, 147, 45);
  color: #f7f7f7;
  border-color:  rgb(224, 147, 45);
}

.restart {
  float: right;
}

.reload-text {
  font-size: x-small;
  margin: 0;
}

.info-icon {
  color: rgb(35, 49, 241);
  padding: 10px;
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background: transparent;
  transition: linear 0.2s;
  float: right;
}

.info-icon:hover {
  background: rgba(35, 49, 241, 0.8);
  color: white;
}

.info-icon:focus {
  outline: none;
}

.food-img {
  max-height: 22px;
}

/* End of service time background colour  */

/* modal header timers */
.modal-header-timers {
background-color:rgb(218,14,20);
color: white;
}

.close-info {
  color: white;
}

.close-info:hover {
  color: white;
}

.close-btn {
  background-color:rgb(218,14,20);
  color: white;
  transition: linear 0.2s;
}

.close-btn:hover {
  background-color:rgb(218,14,20);
  color:rgb(194, 189, 189);
}

.modal-header {
  background-color:rgb(218,14,20);
  color:rgb(194, 189, 189);
  font-weight: bold;
}

/* .bootbox-accept {
  background-color:rgb(218,14,20);
  color: white;
  border-color: :rgb(218,14,20);
  transition: linear 0.2s;
}

.bootbox-accept:hover {
  background-color:rgb(218,14,20);
  color:rgb(194, 189, 189);
} */



/* modal header timers end */

/* ph input  */

.ph-input {
   border: grey 1px solid;
   border-radius: 5px;
   font-size: 1.2rem;
   padding: 5px 20px;
   margin: 10px 5px;
}

.minutes {
  margin-right: -5px;
}

.seconds {
  margin-left: -5px;
}


/* end of ph input  */

/* RESPONSIVE DESIGN */

/* Max screen size of 600px */
@media only screen and (max-width: 600px) {

  .navbar-brand {
    width: 60px;
  }

  .info-banner {
    min-height: 20vh;
    max-height: 40vh;
  }

  .custom-font-size {
    font-size: 30px;
  }

  .lead {
    font-size: 16px;
  }

  .stopwatch {
    font-size: 16px;
  }

  .stopwatch-icon {
    margin-left: 1rem;
    width: 40px;
   }

  .restart {
    font-size: 16px;
  }

  .restart i {
    font-size: 16px;
  }

  .timer__totalTime {
    font-size: 14px;
  }

  .totalTIme-small {
    width: 80px;
  }

  .modal {
    max-width: 100% !important;
  }

  .modal-dialog {
    min-width: 100vw !important;
  }

  .custom-heading {
    font-size: 28px;
    width: 100%;
  }

  .custom-heading img {
    width: 60px;
    margin-bottom: 15px;
  }

}